{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    email asainer@mail.ccsf.edu  # email opsiyonel ama önerilir
}

munibuddy.live, www.munibuddy.live {
    @api {
        path /api/*
    }
    reverse_proxy @api backend:8000

    @docs {
        path /docs*
    }
    reverse_proxy @docs backend:8000

    reverse_proxy frontend:5173
}